{% extends 'base.html.twig' %}

{% block title %}{% for plante in plantes %}{{plante.nom}}{% endfor %}{% endblock %}

{% block header %}
    <input type="button" class="button button-deconnexion" value="Retour" onclick="window.location.href='{{path('Admin-plantes')}}';">
    {% for plante in plantes %}<h1 class="en-tete">{{plante.nom}}</h1>{% endfor %}
    <input type="button" class="button button-deconnexion" value="Déconnexion" onclick="window.location.href='{{path('app_logout')}}';">
{% endblock %}

{% block body %}
{% for plante in plantes %}
        {% if plante.Active == 1%}
            <input type="button" class="button" value="Modifier" onclick="window.location.href='/admin/plantes/modifier/{{plante.id}}';">
            <input type="button" class="button" value="Détail texte d'indice" onclick="window.location.href='/admin/plantes/indice/{{plante.id}}';">
            <input type="button" class="button" value="Détail texte de réussite" onclick="window.location.href='/admin/plantes/reponse/{{plante.id}}';">
            <input type="button" class="button" value="Détail photo" onclick="window.location.href='/admin/plantes/photo/{{plante.id}}';">
            <input type="button" class="button" value="Effacer" onclick="window.location.href='/admin/plantes/effacer/{{plante.id}}';">
        {% endif %}
        {% if plante.Active == 0 %}
            <input type="button" class="button" value="Remettre en jeu" onclick="window.location.href='/admin/plantes/remettre/{{plante.id}}';">
        {% endif %}
    {% endfor %}
<div class="div-center div-center-plante d-flex al-center">
    <div class="cadre d-flex al-center">
        {% for photo in photos %}
            <img class="logo" src="{{photo.url}}"> 
        {% endfor %}
        {% for plante in plantes %}
            <h2>Niveau : {{plante.niveau}}</h2>
        {% endfor %}
        <h2 class="texte">Texte avant d'avoir trouver</h2>
        {% for before in text_before %}
            <h3 class="texte">{{before.titre}}</h3>
            <p class="texte">{{before.texte}}</p>
            <img class="logo" src="{{before.logo}}">
        {% endfor %}
        <h2 class="texte">Texte après avoir trouver</h2>
        {% for after in text_after %}
            <h3 class="texte">{{after.titre}}</h3>
            <p class="texte">{{after.texte}}</p>
            <img class="logo" src="{{after.logo}}">
        {% endfor %}
    </div>
</div>
{% endblock %}