{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block header %}
    <h1 class="en-tete">Modification</h1>
{% endblock %}


{% block body %}
<div class="div-center d-flex al-center">
    <div class="cadre cadre-form d-flex al-center">
        {{ form_start(form) }}
            <h2>Texte d'indice</h2>
            <ul style="list-style-type: none">
                <li>
                    <label for="">Titre : </label>
                        {{ form_widget(form.titre) }}
                </li>
                <li>
                    <div class="text-area">
                        <label for="">Texte : </label>
                            {{ form_widget(form.texte) }}
                    </div>
                </li>
                    <label for="">Url du logo : </label>
                        {{ form_widget(form.logo) }}
                <div class="d-none">
                    {{ form_widget(form.plante) }}
                </div>
            </ul>
            <button type="submit" class="button">Modifier</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}