{% extends 'base.html.twig' %}

{% block title %}Comptes{% endblock %}

{% block header %}
    <input type="button" class="button button-deconnexion" value="Retour" onclick="window.location.href='{{path('Admin')}}';">
    <h1 class="en-tete">Comptes</h1>
    <input type="button" class="button button-deconnexion" value="Déconnexion" onclick="window.location.href='{{path('app_logout')}}';">
{% endblock %}

{% block body %}
<div class="div-center d-flex al-center">
    <div class="cadre cadre-button al-center d-flex">
        <input type="button" class="button" value="Ajouter un compte" onclick="window.location.href='{{path('Admin-plantes-ajouter')}}';">
    </div>
    {% for compte in comptes %}
        <input type="button" class="button" value="{{compte.email}}" onclick="window.location.href='/admin/compte/{{compte.id}}';">
    {% endfor %}

</div>
{% endblock %}