{% extends 'base.html.twig' %}

{% block title %}{% for plante in plantes %}{{plante.nom}}{% endfor %}{% endblock %}

{% block header %}
    <input type="button" class="button button-deconnexion" value="Retour" onclick="window.location.href='{{path('Admin-plantes')}}';">
    {% for plante in plantes %}<h1 class="en-tete">{{plante.nom}}</h1>{% endfor %}
    <input type="button" class="button button-deconnexion" value="Déconnexion" onclick="window.location.href='{{path('app_logout')}}';">
{% endblock %}

{% block body %}
<div class="div-center div-center-plante d-flex al-center">
    <div class="cadre d-flex al-center">
        {% for plante in plantes %}
            <img class="logo" src="https://www.francetvinfo.fr/pictures/3aYw1BcT2fmA8vMgSCsHjOob8KE/1200x1200/2017/01/21/phpKXIp0H_1.jpg"> 
            <h2>Niveau : {{plante.niveau}}</h2>
        {% endfor %}
        <h2 class="texte">Texte avant d'avoir trouver</h2>
        {% for before in text_before %}
            <h3 class="texte">{{before.titre}}</h3>
            <p class="texte">{{before.texte}}</p>
            <img class="logo" src="{{before.logo}}">
        {% endfor %}
        <h2 class="texte">Texte après avoir trouver</h2>
        {% for after in text_after %}
            <h3 class="texte">{{after.titre}}</h3>
            <p class="texte">{{after.texte}}</p>
            <img class="logo" src="{{after.logo}}">
        {% endfor %}
    </div>
    {% for plante in plantes %}
        {% if plante.Active == 1%}
            <input type="button" class="button" value="Modifier" onclick="window.location.href='/admin/plantes/modifier/{{plante.id}}';">
            <input type="button" class="button" value="Effacer" onclick="window.location.href='/admin/plantes/effacer/{{plante.id}}';">
        {% endif %}
    {% endfor %}
</div>
{% endblock %}