{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block header %}
    <input type="button" class="button button-deconnexion" value="Annuler" onclick="history.back()">
    <h1 class="en-tete">Modification</h1>
    <input type="button" class="button button-deconnexion" value="Déconnexion" onclick="window.location.href='{{path('Premiere_page')}}';">
{% endblock %}


{% block body %}
<div class="div-center d-flex al-center">
    <div class="cadre d-flex al-center">
        {{ form_start(form) }}
            <label for="">Nom : </label>
                {{ form_widget(form.nom) }}
            <label for="">Niveau : </label>
                {{ form_widget(form.niveau) }}
            <div class="d-none">
                {{ form_widget(form.Active) }}
            </div>
            <button type="submit" class="button">Modifier</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}