{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block header %}
<input type="button" class="button button-deconnexion" value="Retour" onclick="window.location.href='{{path('Menu')}}';">
    <h1 class="en-tete">Cherche et Trouve</h1>
    <input type="button" class="button button-deconnexion" value="Déconnexion" onclick="window.location.href='{{path('app_logout')}}';">
{% endblock %}

{% block body %}
<div class="div-center d-flex al-center">
    <div class="cadre al-center d-flex">
        <p>Photo de profil : <img class="icone" src="{{ app.user.photo }}"></p>
        <p>Nom : {{ app.user.pseudo }}</p>
        <p>Email : {{ app.user.email }}</p>
        <p>Niveau : {{ app.user.Niveau }}</p>
        <input type="button" class="button" value="Modifier profil" onclick="window.location.href='{{path('compte-modifier')}}';">
    </div>
</div>
{% endblock %}