{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block header %}
    <input type="button" class="button button-deconnexion" value="Annuler" onclick="window.location.href='{{path('compte')}}';">
    <h1 class="en-tete">Cherche et Trouve</h1>
    <input type="button" class="button button-deconnexion" value="Déconnexion" onclick="window.location.href='{{path('app_logout')}}';">
{% endblock %}

{% block body %}
<div class="div-center d-flex al-center">
    <div class="cadre al-center d-flex">
        {{ form_start(form) }}
            <h2>Compte</h2>
            <ul style="list-style-type: none">
                <li>
                    <label for="">Email : </label>
                        {{ form_widget(form.email) }}
                </li>
                <li>
                    <label for="">Nom : </label>
                        {{ form_widget(form.pseudo) }}
                </li>
                <li>
                    <label for="">Photo de profil: </label>
                        {{ form_widget(form.photo) }}
                </li>
                <button type="submit" class="button">Valider</button>
            </ul>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}