{% extends 'base.html.twig' %}

{% block title %}Plante trouvé{% endblock %}

{% block header %}
    <input type="button" class="button button-deconnexion" value="Retour" onclick="window.location.href='{{path('compte-stat')}}';">
    {% for plante_compte in plantes_comptes %}<h1 class="en-tete">{{plante_compte.plante}}</h1>{% endfor %}
    <input type="button" class="button button-deconnexion" value="Déconnexion" onclick="window.location.href='{{path('app_logout')}}';">
{% endblock %}

{% block body %}
<style>
    #map{
        height: 25vh;
        width: 25vw;
    }
</style>
<div class="div-center div-center-plante d-flex al-center">
    <div class="cadre d-flex al-center">
        {% for plante_compte in plantes_comptes %}
            <div>
                <h2>Coordonnée</h2>
                <div id="map"></div>
            </div>
            <div>
                <h2>Date</h2>
                <p>Photo :{{plante_compte.datephoto.format('d F Y')}}</p>
                <p>Valide :{{plante_compte.datevalide.format('d F Y')}}</p>
            </div>
            {% for photo in photos %}
                {% if plante_compte.plante.id == photo.plante.id %}
                    <img class="logo" src="../../../../ImagePlantes/{{photo.url}}">
                {%endif%}
            {%endfor%}
            {% for before in text_before %}
                {% if plante_compte.plante.id == before.plante.id %}
                    <h3 class="texte">{{before.titre}}</h3>
                    <p class="texte">{{before.texte}}</p>
                    {% if before.logo != null %}
                        <img class="logo" src="../../../../ImagePlantes/{{before.logo}}">
                    {% endif %}
                {%endif%}
            {%endfor%}
            {% for after in text_after %}
                {% if plante_compte.plante.id == after.plante.id %}
                    <h3 class="texte">{{after.titre}}</h3>
                    <p class="texte">{{after.texte}}</p>
                    {% if after.logo != null %}
                        <img class="logo" src="../../../../ImagePlantes/{{after.logo}}">
                    {% endif %}
                {%endif%}
            {%endfor%}
        {% endfor %}
    </div>
</div>
{% for plante_compte in plantes_comptes %}
<script>
    var map = L.map('map').setView([{{plante_compte.latitude}}, {{plante_compte.longitude}}], 15);

    var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    var maker = L.marker([{{plante_compte.latitude}}, {{plante_compte.longitude}}]).addTo(map)
    osm.addTo(map);
    maker.addTo(map);
</script>
{% endfor %}
{% endblock %}