{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block header %}
    <input type="button" class="button button-deconnexion" value="Retour" onclick="window.location.href='{{path('Admin-compte')}}';">
    {% for compte in comptes %}<h1 class="en-tete">{{compte.email}}</h1>{% endfor %}
    <input type="button" class="button button-deconnexion" value="Déconnexion" onclick="window.location.href='{{path('app_logout')}}';">
{% endblock %}

{% block body %}
<div class="div-center div-center-plante d-flex al-center">
    <div class="cadre d-flex al-center">
        <div>
            {% for compte in comptes %}
                <p>Nom : {{compte.pseudo}}</p>
                <p>Niveau : {{compte.niveau}}</p>
                <p>Nombre de plante trouvé : {{plantes_comptes|length}}</p>
                <img class="icone" src="{{compte.photo}}">
            {% endfor %}
        </div>
        <div>
            {% for plante_compte in plantes_comptes %}
                {% for compte in comptes %}<input type="button" class="button" value="{{plante_compte.plante}}" onclick="window.location.href='/admin/compte/plante/{{compte.id}}/{{plante_compte.plante.id}}';">{% endfor %}
            {% endfor %}
        </div>
        {% for compte in comptes %}
            <input type="button" class="button" value="Effacer Compte" onclick="window.location.href='/admin/compte/effacer/{{compte.id}}';">
        {% endfor %}
    </div>
</div>
{% endblock %}