{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block header %}
    <input type="button" class="button button-deconnexion" value="Retour" onclick="window.location.href='{{path('Admin-plantes')}}';">
    {% for compte in comptes %}<h1 class="en-tete">{{compte.email}}</h1>{% endfor %}
    <input type="button" class="button button-deconnexion" value="Déconnexion" onclick="window.location.href='{{path('app_logout')}}';">
{% endblock %}

{% block body %}
<div class="div-center div-center-plante d-flex al-center">
    <div class="cadre d-flex al-center">
        <div>
            {% for compte in comptes %}
                <p>{{compte.email}}</p>
                <p>{{compte.niveau}}</p>
                <p>{{compte.pseudo}}</p>
                <img class="logo" src="{{compte.photo}}">
            {% endfor %}
        </div>
        <div>
            {% for plante_compte in plantes_comptes %}
                <img class="logo" src="{{plante_compte.photo}}">
                <p>{{plante_compte.longitude}}</p>
                <p>{{plante_compte.latitude}}</p>
                <p>{{plante_compte.plante}}</p>
                <p>{{plante_compte.datephoto.format('d F Y')}}</p>
                <p>{{plante_compte.datevalide.format('d F Y')}}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}