{% extends 'base.html.twig' %}

{% block title %}{% for plante in plantes %}{{plante.nom}}{% endfor %}{% endblock %}

{% block header %}
    {% for plante in plantes %}
        <input type="button" class="button button-deconnexion" value="Retour" onclick="window.location.href='/admin/plantes/{{plante.id}}';">
        <h1 class="en-tete">{{plante.nom}}</h1>
    {% endfor %}
    <input type="button" class="button button-deconnexion" value="Déconnexion" onclick="window.location.href='{{path('app_logout')}}';">
{% endblock %}

{% block body %}
{% for plante in plantes %}
    <input type="button" class="button" value="Ajouter indice" onclick="window.location.href='/admin/plantes/indice/{{plante.id}}/{{plante.id}}/ajouter';">
{% endfor %}
<div class="div-center div-center-plante d-flex al-center">
    <div class="cadre d-flex al-center">
        <h2 class="texte">Texte avant d'avoir trouver</h2>
        {% for before in text_before %}
            <h3 class="texte">{{before.titre}}</h3>
            <p class="texte">{{before.texte}}</p>
            {% if before.logo != null %}
                <img class="logo" src="../../../../ImagePlantes/{{before.logo}}">
            {% endif %}
            {% for plante in plantes %}
                <input type="button" class="button" value="Modifier" onclick="window.location.href='/admin/plantes/modifier/indice/{{plante.id}}/{{before.id}}';">
                <input type="button" class="button" value="Effacer" onclick="window.location.href='/admin/plantes/effacer/indice/{{plante.id}}/{{before.id}}';">
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}