{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block header %}
    <input type="button" class="button button-deconnexion" value="Annuler" onclick="window.location.href='{{path('Premiere_page')}}';">
    <h1 class="en-tete">Cherche et Trouve</h1>
{% endblock %}

{% block body %}
    <div class="div-center d-flex al-center">
        <div class="cadre cadre-form cadre-user d-flex al-center">
            <h1>Inscription</h1>
            {{ form_start(form) }}
            <ul style="list-style-type: none">
                <li>
                    {{ form_row(form.email, {
                        label: 'Adresse mail : '
                    }) }}
                </li>
                <li>
                    {{ form_row(form.password, {
                        label: 'Mot de passe : '
                    }) }}
                </li>
                <li>
                    {{ form_row(form.pseudo, {
                        label: 'Nom : '
                    }) }}
                </li>
                <li>
                    {{ form_row(form.photo, {
                        label: 'Photo de profil : '
                    }) }}
                </li>

                <button type="submit" class="button">Valider</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
